@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));
* {
  box-sizing: border-box;
  font-family: 'DM Sans';
}

html,
body {
  height: 100%;
  width: 100%;
}

:root {
  --grid-color: #d1d5db;
}

.dark {
  --grid-color: #2f2f2f;
}
#cursor {
  height: 14px;
  width: 14px;

  border-radius: 50%;
  position: fixed;
  top: 0;
  left: 0;

  z-index: 9999;
  pointer-events: none;

  transform: translate3d(0, 0, 0);
  will-change: transform;


  transform: translate(-50%, -50%);
}

body {
  background-color: white;
  color: black;
  transition: all 0.3s ease;
}



body {
  transition: background-color 0.3s ease, color 0.3s ease;
}



.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

